@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 90%;
}

/* header start */
.head {
    margin-left: 100px;


}
.img-one img{
    width: 200px;

}

.list {
    display: flex;
    margin-top: 80px;
}

.list li {
    list-style: none;
    margin-left: 40px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.section .text h1 {
    font-size: 60px;
    font-weight: bold;
    width: 500px;
}

.section .text p {
    width: 300px;
}

.section .img-one {
    width: 380px;
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.two p {
    width: 260px;
    padding: 20px;
    background-color: rgb(57, 57, 175);
    color: white;
}

.two p span {
    margin-left: 120px;
    font-size: 13px;
}

/* header finish */

/* section start */
.all {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.all .section-one {
    width: 610px;
    letter-spacing: 1px;
    font-size: 22px;
}

.all .section-one h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 25px;
}

.all .photo img {
    margin-left: 200px;
    width: 200px;
}

.all-one {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.all-one .all-text {
    margin-left: 70px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.all-one .all-text .text {
    margin-left: 60px;
    width: 180px;
}

.all-one .all-text .text h4 {
    font-size: 17px;
}

/* section finish */

/* second section start */

#second {
    margin-top: 60px;
}

#second h2 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#second .all-three {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#second .all-three .text {
    margin-right: 60px;
    width: 180px;
}

#second .all-three .text h4 {
    color: rgb(73, 73, 218);
    font-weight: bold;
}

#second .all-three .text p {
    font-size: 13px;
}

/* second section finish */

/* third section start */

#third h2 {
    font-size: 37px;
}

#third .nav-list {
    margin-top: 25px;
    width: 360px;
    font-family: 'Roboto Slab', serif;


}

.img-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: calc((100% - 90px)/3);
    box-shadow: 1px 1px 15px;
    border-radius: 30px;
    margin: 15px 30px 15px 0px;


}

.card p {
    padding-left: 20px;
}

.card img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.four h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    font-weight: 700px;
}

.card h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    padding-left: 20px;
}

/* four section finish */

/* five section start */
.five {
    background-color: rgb(204, 198, 198);
    width: 1200px;
    padding-bottom: 91px;
    font-weight: 900px;
}

.five-box {
    height: 451px;
    width: 700px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-left: 120px;
    margin-top: 100px;
}




.five-box p {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    width: 500px;
    margin-left: 45px;
    padding-top: 40px;
}



.face-logo {
    display: flex;
    align-items: center;
    margin: 30px;
}

.user-name {
    margin-left: 50px;
    font-size: 35px;
    font-weight: bold;
}

.logo-facebook img {
    margin-top: 20px;
}

.h3c {
    font-family: Roboto Slab;
    font-size: 55px;
    padding-top: 179px;
    padding-left: 122px;
}

.six {
    background-color: #9DC9C8;
    height: 780px;
    width: 1080px;
    padding-right: 120px;
}

#thrid h2 {
    font-size: 37px;

}

#thrid .nav-list {
    margin-top: 25px;
    width: 360px;
    font-family: 'Roboto Slab', serif;
}

.h2c {
    font-family: Roboto Slab;
    font-size: 55px;
    padding-left: 122px;
    padding-top: 91px;

}

.p2c {
    padding-left: 122px;
    font-family: Roboto;
    font-size: 25px;


}

.span2 {
    font-family: Roboto;
    font-size: 80px;



}

.div3 {
    display: flex;
    padding-left: 122px;
}

.div4 {
    height: 70px;
    width: 294px;
    padding-right: 70px;

}

.div5 {
    height: 70px;
    width: 294px;

}

.p3c {
    font-family: Roboto;
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 155px;

}


.p5c {
    font-family: Roboto;
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 155px;

}


footer {
    width: 1220px;
    height: 390px;
    padding-right: 120px;
    color: white;
    background-color: black;
}

.div8 {
    display: flex;
    justify-content: space-between;
    margin-left: 122px;
    padding-top: 50px;

}

.div7 img {
    padding-top: 50px;
    margin-bottom: -30px;
    padding-left: 120px;
    height: 68px;
    width: 115px;


}

.div6 {
    display: block;
}


.div6 i {
    font-size: 30px;
    padding-right: 18px;
}

.div9 a {
    color: white;
    text-decoration: none;
}

.p8c {
    margin-top: -89px;
    padding-bottom: 3px;
    font-family: Roboto;
    font-size: 25px;


}

.p7c {

    font-family: Roboto;
    font-size: 25px;
}

.p9c {
    margin-top: 100px;
    margin-left: 122px;
    font-family: Roboto;
    font-size: 18px;

}





@media (min-width: 992px) and (max-width: 1279px) {
    body {
        width: 834px;
        margin: 0 auto;


    }
}


/* desktop */
@media (min-width: 1280px) {
    body {
        width: 1400px;
        margin: 0 auto;
    }
}